<h1><%= @user.name %></h1>
<% if @user.avatar.attached? %>
  <%= image_tag @user.avatar.representation(resize_to_limit: [100, 100]) %>
<% end %>
<p>Name: <%= @user.name %></p>
<p>Age: <%= @user.age %></p>
<h2>Comments</h2>
<% if @user.comments.any? %>
  <ul>
    <% @user.comments.each do |comment| %>
      <li> <%= comment.text %>
        <% if comment.author == current_user %>
          <%= link_to 'Delete', user_comment_path(@user, comment), method: :delete, data: { confirm: 'Are u sure?' } %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p> No comments posted yet </p>
<% end %>
<%= render 'comments/form', path: user_comments_path(@user), placeholder: 'Write a comment...' %>
<hr>
<% if current_user == @user %>
  <h2>Your books</h2>
<% else %>
  <h2>Books of <%= @user.name  %></h2>
<% end%>
<% if @user.books.any? %>
  <% @user.books.each do |book| %>
    <div>
      <p>Title: <%= book.title %></p>
      <p>Pages: <%= book.number_of_pages %></p>
      <p>Author: <%= book.author.name %></p>
    </div>
    <% if current_user == @user %>
      <%= link_to 'Edit',  edit_book_path(book) %>
      <%= link_to 'Delete',  book_path(book), method: :delete, :data => {:confirm => 'Are you sure?'} %>
    <% end %>
    <%= link_to 'Show', book_path(book) %>
    <% if current_user.liked_book?(book) %>
      <%= link_to 'Unlike', like_path(book.likes.find_by(author_id: current_user.id)), method: :delete %>
    <% else %>
      <%= link_to 'Like', likes_path(like: { book_id: book.id }), method: :post %>
    <% end %>
    <hr>
  <% end %>
<% else %>
  <p>Nothing to show</p>
<% end %>
<%= link_to 'Back', users_path %>