<%= form_with  model: @book, local: true do |f| %>
  <div>
    <%= f.label :title, 'Title' %>:<br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :cover, 'Cover' %><br />
    <%= f.file_field :cover, accept: 'image/*' %>
  </div>

  <div>
    <%= f.label :number_of_pages, 'Pages' %>:<br>
    <%= f.number_field :number_of_pages %>
  </div>

  <div>
    <%= f.label :synopsis, 'Synopsis' %>:<br>
    <%= f.rich_text_area :synopsis %>
  </div>

  <%= f.submit %>
  <%= link_to 'Back', users_path %>
<% end %>